.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    background-color: var(--azul-principal);
    color: var(--branco);
    box-shadow: var(--shadow-card);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Botão Menu Hanburger */
.menu-btn {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-btn span {
    width: 28px;
    height: 3px;
    background-color: var(--branco);
    border-radius: 2px;
}

/* Logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

.logo h1 {
    font-size: 1.5rem;
    color: var(--branco);
}

.logo-icon {
    font-size: 1.6rem;
}

.logo-image {
    width: 32px;
    height: 32px;
}

.logo-link{
    text-decoration: none;
    color: inherit;
}

/* Botão Configurações e Perfil */
.config{
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

