.select-container{
    display: flex;
    flex-direction: column;

    gap: var(--spacing-sm);
}

.select-container select{
    width: 100%;

    padding: 12px 16px;

    border: 2px solid var(--azul-claro);

    border-radius: var(--border-radius);

    background-color: var(--branco);

    color: var(--cinza-escuro);

    font-size: 1rem;

    cursor: pointer;

    transition: 0.3s;
}

.select-container select:hover{
    border-color: var(--azul-principal);
}

.select-container select:focus{
    outline: none;

    border-color: var(--azul-principal);

    box-shadow: 0 0 8px rgba(11, 61, 145, 0.25);
}