.menu-lateral{

    width: 280px;

    height: 100vh;

    background-color: var(--cinza-escuro);

    position: fixed;

    top: 0;

    left: -280px;

    transition: 0.3s;

    padding-top: 100px;

    z-index: 999;
}

.menu-lateral.ativo{

    left: 0;
}

.menu-lateral ul{
    list-style: none;

    display: flex;

    flex-direction: column;

    gap: 8px;
}

.menu-lateral li{

    margin-bottom: 12px;
}

.menu-lateral a{

    display: flex;

    align-items: center;

    gap: 12px;

    padding: 14px 20px;

    color: var(--branco);

    text-decoration: none;

    border-radius: 8px;

    transition: .3s;
}

.menu-lateral a:hover{

    background-color: rgba(255,255,255,0.1);
}

.menu-lateral img{

    width: 24px;

    height: 24px;

    object-fit: contain;
}