:root {
    /* Azul Espacial */
    --azul-principal: #0b3d91;
    --azul-secundario: #1e5bb8;
    --azul-claro: #4f8ef7;

    /* Indicadores Climáticos */
    --verde-seguro: #16a34a;
    --amarelo-alerta: #f59e0b;
    --laranja-risco: #f97316;
    --vermelho-extremo: #dc2626;

    /* Neutros */
    --branco: #ffffff;
    --cinza-claro: #f8fafc;
    --cinza: #c2c2c2;
    --cinza-escuro: #1e293b;

    /* Cor de fundo e letras*/
    --background: var(--cinza-claro);
    --text-color: var(--cinza-escuro);

    /* Tipografia */
    --fonte-principal: "Inter", sans-serif;
    --fonte-titulo: "Montserrat", sans-serif;

    /* Espaçamentos */
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;

    /* Bordas */
    --border-radius: 16px;

    /* Sombras */
    --shadow-card: 0 4px 12px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
    --background: var(--cinza-escuro);
    --text-color: var(--cinza-claro);
}
/*pagina de variavel terminada*/